Repository IsyFact/isyfact-standards, pull requests merged in 2023-08, with the labels that each got.

#39 IFS-1960 Umsetzung Resource Owner Password Credentials Flow
  isy-security/CHANGELOG.md
  isy-security/src/main/java/de/bund/bva/isyfact/security/authentication/IsyOAuth2PasswordAuthenticationProvider.java
  isy-security/src/main/java/de/bund/bva/isyfact/security/authentication/IsyOAuth2PasswordAuthenticationToken.java
  isy-security/src/main/java/de/bund/bva/isyfact/security/authentication/RolePrivilegeGrantedAuthoritiesConverter.java
  isy-security/src/main/java/de/bund/bva/isyfact/security/autoconfigure/IsySecurityAutoConfiguration.java
  isy-security/src/test/java/de/bund/bva/isyfact/security/authentication/IsyOAuth2PasswordAuthenticationProviderTest.java
  isy-security/src/test/java/de/bund/bva/isyfact/security/example/config/OAuth2WebClientConfiguration.java
  isy-security/src/test/resources/application-test-clients.yaml
  isyfact-standards-doc/src/docs/antora/modules/isy-security/pages/nutzungsvorgaben/changelog.adoc
  isyfact-standards-doc/src/docs/antora/modules/isy-security/pages/nutzungsvorgaben/inhalt.adoc
Labels: feat, high

#35 Draft: IFS-2489 change notification usage to toasts
  isyfact-standards-doc/src/docs/antora/modules/isy-styleguide/images/toasts.mockup.drawio.svg
  isyfact-standards-doc/src/docs/antora/modules/isy-styleguide/pages/styleguide.adoc
Labels: docs, ready for review, medium

#34 Draft: IFS-2489 convert style guide to Bedienkonzept
  isyfact-standards-doc/src/docs/antora/modules/isy-styleguide/images/Header_Aufbau.png
  isyfact-standards-doc/src/docs/antora/modules/isy-styleguide/images/hauptfenster-aufbau.png
  isyfact-standards-doc/src/docs/antora/modules/isy-styleguide/images/hauptfenster.mockup.drawio.svg
  isyfact-standards-doc/src/docs/antora/modules/isy-styleguide/images/header.mockup.drawio.svg
  isyfact-standards-doc/src/docs/antora/modules/isy-styleguide/images/header.mockup.png
  isyfact-standards-doc/src/docs/antora/modules/isy-styleguide/pages/styleguide.adoc
Labels: docs, ready for review, medium

#33 Draft: IFS-2489 remove Seitentoolbar in favor of browser back action
  isyfact-standards-doc/src/docs/antora/modules/isy-styleguide/pages/styleguide.adoc
Labels: docs, ready for review, medium

#53 Do's and Dont's
  isyfact-standards-doc/src/docs/antora/modules/isy-styleguide/pages/styleguide.adoc
Labels: docs, ready for review, medium

#57 IFS-1799 Hibernate Filter
  isyfact-standards-doc/src/docs/antora/modules/isy-persistence/pages/konzept/vorgaben-konventionen.adoc
Labels: low

#58 IFS-1801 Datenzugriff Fachkomponenten
  isyfact-standards-doc/src/docs/antora/modules/isy-persistence/pages/nutzungsvorgaben/umsetzung-datenzugriff.adoc
Labels: docs, low

#59 IFS-1808 JPA Vererbungshierarchien
  isyfact-standards-doc/src/docs/antora/modules/blaupausen/pages/detailkonzept-komponente-datenzugriff/persistenzlogik.adoc
  isyfact-standards-doc/src/docs/antora/modules/isy-persistence/pages/konzept/vorgaben-konventionen.adoc
Labels: docs, low

#72 ISY-279: Add SonarScan Job to Maven Workflow
  .github/workflows/maven.yml
  .github/workflows/maven_template.yml
Labels: ci, ready for review, high

#55 ISY-151: Resuable maven workflow
  .github/workflows/maven.yml
  .github/workflows/maven_template.yml
Labels: ci, ready for review, medium
